body {
  padding: 0;
  margin: 0;
}
#root {
  background: #eee;
  padding: 10px 20px;
  min-height: calc(100vh - 20px);
  margin: {
    top: 0;
    left: 10px;
    right: 10px;
  }
  border: {
    left: 1px solid #aaa;
    right: 1px solid #aaa;
  }
}

#log-entries {
  background: #333;
  color: #aaa;
  padding: 10px;
  list-style: none;
  list-style-position: inside;
  font-family: monospace;
  li {
    padding: 5px 0;
    background: #333;
  }
}