{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 7"
          ]
        }
      }
    ],
    "stage-2"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
          "react": "preact-compat",
          "react-dom": "preact-compat"
      }
    }]
  ]
}